nav.navbar {
  display: flex;
  height: 75px;
  background: white;
  justify-content: space-between;

  .logo {
    width: 225px;
  }
  .menu {
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    @media only screen and (max-width: 760px) {
      width: 100%;
    }
    li {
      line-height: 75px;
      padding: 0 20px;
    }
  }
}
