@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 2;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

p {
  font-size: 1.2rem;
}

.text--red {
  color: red;
}
